<h2>Employee List</h2>
<!-- <pre>{{ employees | json }}</pre> -->

<div *ngIf="loading">Loading employees...</div>
<div *ngIf="error" class="error">{{ error }}</div>
<button (click)="showEmployeeDetails()">show list</button>
<input type="text" [(ngModel)]="employeeId" placeholder="Search by id" />
<button (click)="searchEmployee()">Search</button>
<table *ngIf="!loading && !error" border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Salary</th>
      <th>Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees">
      <td>{{ emp.id }}</td>
      <td>{{ emp.employee_name }}</td>
      <td>{{ emp.employee_salary }}</td>
      <td>{{ emp.employee_age }}</td>
    </tr>
  </tbody>
</table>
